{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Trading Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>::Cryptoon:: Dashboard </title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> <!-- Favicon-->

    <!-- plugin css file  -->
    <link rel="stylesheet" href="{% static 'assets/plugin/datatables/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugin/datatables/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"> 

    <!-- project css file  -->
    <link rel="stylesheet" href="{% static 'assets/css/cryptoon.style.min.css' %}">
    {% comment %} <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        #notifications { margin-top: 20px; max-height: 200px; overflow-y: auto; }
        #notification-list { list-style: none; padding: 0; }
        .notification { padding: 5px; border-bottom: 1px solid #eee; }
    </style> {% endcomment %}
    <!-- HTMX -->
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script src="{% static 'htmx/_hyperscript.min.js' %}"></script>
    <script src="{% static 'htmx/ext/ws.js' %}"></script>


    <!-- Hyperscript -->
    {% comment %} <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script> {% endcomment %}
</head>
<body hx-on:htmx:beforeOnload="initializeFunctions();">
    <div id="cryptoon-layout" class="theme-orange">
        {% include 'partials/sidebar.html' %}
        <div class="main px-lg-4 px-md-4">
            {% include 'partials/header.html' %}

            {% block content %}
            {% endblock content %}
            <!-- Modal Custom Settings-->
            <div class="modal fade right" id="Settingmodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog  modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Custome Settings</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom_setting">
                            <!-- Settings: Color -->
                            <div class="setting-theme pb-3">
                                <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i
                                        class="icofont-color-bucket fs-4 me-2 text-primary"></i>Template Color Settings
                                </h6>
                                <ul class="list-unstyled row row-cols-3 g-2 choose-skin mb-2 mt-2">
                                    <li data-theme="indigo">
                                        <div class="indigo"></div>
                                    </li>
                                    <li data-theme="tradewind">
                                        <div class="tradewind"></div>
                                    </li>
                                    <li data-theme="monalisa">
                                        <div class="monalisa"></div>
                                    </li>
                                    <li data-theme="blue">
                                        <div class="blue"></div>
                                    </li>
                                    <li data-theme="cyan">
                                        <div class="cyan"></div>
                                    </li>
                                    <li data-theme="green">
                                        <div class="green"></div>
                                    </li>
                                    <li data-theme="orange" class="active">
                                        <div class="orange"></div>
                                    </li>
                                    <li data-theme="blush">
                                        <div class="blush"></div>
                                    </li>
                                    <li data-theme="red">
                                        <div class="red"></div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Settings: Template dynamics -->
                            <div class="dynamic-block py-3">
                                <ul class="list-unstyled choose-skin mb-2 mt-1">
                                    <li data-theme="dynamic">
                                        <div class="dynamic"><i class="icofont-paint me-2"></i> Click to Dyanmic Setting
                                        </div>
                                    </li>
                                </ul>
                                <div class="dt-setting">
                                    <ul class="list-group list-unstyled mt-1">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label>Primary Color</label>
                                            <button id="primaryColorPicker"
                                                class="btn bg-primary avatar xs border-0 rounded-0"></button>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label>Secondary Color</label>
                                            <button id="secondaryColorPicker"
                                                class="btn bg-secondary avatar xs border-0 rounded-0"></button>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label class="text-muted">Chart Color 1</label>
                                            <button id="chartColorPicker1"
                                                class="btn chart-color1 avatar xs border-0 rounded-0"></button>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label class="text-muted">Chart Color 2</label>
                                            <button id="chartColorPicker2"
                                                class="btn chart-color2 avatar xs border-0 rounded-0"></button>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label class="text-muted">Chart Color 3</label>
                                            <button id="chartColorPicker3"
                                                class="btn chart-color3 avatar xs border-0 rounded-0"></button>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label class="text-muted">Chart Color 4</label>
                                            <button id="chartColorPicker4"
                                                class="btn chart-color4 avatar xs border-0 rounded-0"></button>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                            <label class="text-muted">Chart Color 5</label>
                                            <button id="chartColorPicker5"
                                                class="btn chart-color5 avatar xs border-0 rounded-0"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Settings: Font -->
                            <div class="setting-font py-3">
                                <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i
                                        class="icofont-font fs-4 me-2 text-primary"></i> Font Settings</h6>
                                <ul class="list-group font_setting mt-1">
                                    <li class="list-group-item py-1 px-2">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="radio" name="font" id="font-poppins"
                                                value="font-poppins">
                                            <label class="form-check-label" for="font-poppins">
                                                Poppins Google Font
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-1 px-2">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="radio" name="font" id="font-opensans"
                                                value="font-opensans">
                                            <label class="form-check-label" for="font-opensans">
                                                Open Sans Google Font
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-1 px-2">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="radio" name="font"
                                                id="font-montserrat" value="font-montserrat">
                                            <label class="form-check-label" for="font-montserrat">
                                                Montserrat Google Font
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-1 px-2">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="radio" name="font" id="font-Plex"
                                                value="font-Plex" checked="">
                                            <label class="form-check-label" for="font-Plex">
                                                Plex Google Font
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Settings: Light/dark -->
                            <div class="setting-mode py-3">
                                <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i
                                        class="icofont-layout fs-4 me-2 text-primary"></i>Contrast Layout</h6>
                                <ul class="list-group list-unstyled mb-0 mt-1">
                                    <li class="list-group-item d-flex align-items-center py-1 px-2">
                                        <div class="form-check form-switch theme-switch mb-0">
                                            <input class="form-check-input" type="checkbox" id="theme-switch">
                                            <label class="form-check-label" for="theme-switch">Enable Dark Mode!</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex align-items-center py-1 px-2">
                                        <div class="form-check form-switch theme-high-contrast mb-0">
                                            <input class="form-check-input" type="checkbox" id="theme-high-contrast">
                                            <label class="form-check-label" for="theme-high-contrast">Enable High
                                                Contrast</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex align-items-center py-1 px-2">
                                        <div class="form-check form-switch theme-rtl mb-0">
                                            <input class="form-check-input" type="checkbox" id="theme-rtl">
                                            <label class="form-check-label" for="theme-rtl">Enable RTL Mode!</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-start">
                            <button type="button" class="btn btn-white border lift" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary lift">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Jquery Core Js -->
        <script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>

        <!-- Plugin Js -->
        
        {% comment %} <script src="{% static 'assets/bundles/dataTables.bundle.js' %}"></script> {% endcomment %}
        <script src="{% static 'assets/plugin/datatable/datatables.min.js' %}"></script>
        <script src="{% static 'assets/bundles/apexcharts.bundle.js' %}"></script>
        
        <!-- Jquery Page Js -->
        <script src="{% static 'assets/js/template.js' %}"></script>
        <script src="{% static 'assets/js/page/index.js' %}"></script>

        {% comment %} <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script> {% endcomment %}
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                console.log("DOM fully loaded and parsed");
                renderDataTable('#orders-table-1', '/orders-data/');
            /*  
           new DataTable('#orders-datatable', {
                    ajax: {
                        url: '/balances-data/',  
                        dataSrc: 'data'  
                    },
                    columns: [
                        { data: 'ticker' },
                        { data: 'balance' },
                        { data: 'usd_value' },
                        { data: 'last_price' },
                        { data: 'change_24h' },
                        { data: 'high_24h' },
                        { data: 'low_24h' },
                        { data: 'volume_24h' },
                        { data: 'timestamp' },
                    ]
                })
                */
            });
        </script> 
<script>

    


    var getApexChartSpark = function (data){
        console.log(data)
        console.log(data.ticker)
    }

    var getKlineChart = function(elementId, data=null){
        var options = {
            chart: {
                height: 180,
                type: 'candlestick',
                toolbar: {
                    show: false,
                },
            },
            plotOptions: {
                candlestick: {
                    colors: {
                        upward: 'var(--chart-color2)',
                        downward: 'var(--chart-color4)',
                    },
                    wick: {
                        useFillColor: true
                    }
                }
            },
    
            series: [{
                data: data
            }],
    
            xaxis: {
                type: 'datetime'
            },
            yaxis: {
                tooltip: {
                    enabled: true
                }
            }
        }

        
    
        var chart = new ApexCharts(
            document.querySelector(`#${elementId}`),
            options
        );
    
        chart.render();
    }
    
    var randomizeArray = function (arg) {
            var array = arg.slice();
            var currentIndex = array.length,
            temporaryValue, randomIndex;
    
            while (0 !== currentIndex) {  
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;
        
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }  
            return array;
        }
    

        document.addEventListener("DOMContentLoaded", (event) => {
            var sparklineData = [0.00000756, 0.00000856, 0.00000910, 0.00000620, 0.00000500, 0.000012, 0.00000780, 
        0.00000430, 0.000015, 0.00000645, 0.00000890, 0.00000975, 0.00000398, 0.00000612, 0.00000570];
        
        // topb big chart    
        var spark0 = {
            chart: {
                type: 'area',
                height: 25,
                sparkline: {
                enabled: true
                },
            },
            stroke: {
                width: 1
            },
            series: [{
                data: randomizeArray(sparklineData)
            }],
            colors: ['#f8921a'],
        }
            var spark0 = new ApexCharts(document.querySelector("#apexspark1"), spark0); spark0.render();
{% block additional_js %}
{% endblock additional_js %}
    });

    var klineData = [{
        x: new Date(1538839800000),
        y: [6589.3, 6598.89, 6589.1, 6596.08]
        },{
        x: new Date(1538841600000),
        y: [6597.5, 6600, 6588.39, 6596.25]
        },{
        x: new Date(1538843400000),
        y: [6598.03, 6600, 6588.73, 6595.97]
        },{
        x: new Date(1538845200000),
        y: [6595.97, 6602.01, 6588.17, 6602]
        },{
        x: new Date(1538847000000),
        y: [6602, 6607, 6596.51, 6599.95]
        },{
        x: new Date(1538848800000),
        y: [6600.63, 6601.21, 6590.39, 6591.02]
        },{
        x: new Date(1538850600000),
        y: [6591.02, 6603.08, 6591, 6591]
        },{
        x: new Date(1538852400000),
        y: [6591, 6601.32, 6585, 6592]
        },{
        x: new Date(1538854200000),
        y: [6593.13, 6596.01, 6590, 6593.34]
        },{
        x: new Date(1538856000000),
        y: [6593.34, 6604.76, 6582.63, 6593.86]
        },{
        x: new Date(1538857800000),
        y: [6593.86, 6604.28, 6586.57, 6600.01]
        //y: [6593.86, Open
        //y: [6604.28, High
        //y: [6586.57, Low
        //y: [6600.01, Close
        },{
        x: new Date(1538859600000),
        y: [6601.81, 6603.21, 6592.78, 6596.25]
        },{
        x: new Date(1538861400000),
        y: [6596.25, 6604.2, 6590, 6602.99]
        },{
        x: new Date(1538863200000),
        y: [6602.99, 6606, 6584.99, 6587.81]
        },{
        x: new Date(1538865000000),
        y: [6587.81, 6595, 6583.27, 6591.96]
        },{
        x: new Date(1538866800000),
        y: [6591.97, 6596.07, 6585, 6588.39]
        },{
        x: new Date(1538868600000),
        y: [6587.6, 6598.21, 6587.6, 6594.27]
        },{
        x: new Date(1538870400000),
        y: [6596.44, 6601, 6590, 6596.55]
        },{
        x: new Date(1538872200000),
        y: [6598.91, 6605, 6596.61, 6600.02]
        },{
        x: new Date(1538874000000),
        y: [6600.55, 6605, 6589.14, 6593.01]
        },{
        x: new Date(1538875800000),
        y: [6593.15, 6605, 6592, 6603.06]
        },{
        x: new Date(1538877600000),
        y: [6603.07, 6604.5, 6599.09, 6603.89]
        },{
        x: new Date(1538879400000),
        y: [6604.44, 6604.44, 6600, 6603.5]
        },{
        x: new Date(1538881200000),
        y: [6603.5, 6603.99, 6597.5, 6603.86]
        },{
        x: new Date(1538883000000),
        y: [6603.85, 6605, 6600, 6604.07]
        },{
        x: new Date(1538884800000),
        y: [6604.98, 6606, 6604.07, 6606]
        },
    ]



var renderDataTable = function(elementId, url) {
        let toolbar = document.createElement('div');
            toolbar.innerHTML = '<h5 class="mb-0 fw-bold">Recent Transactions</h5>';
        var table = new DataTable(elementId, {
            ajax: {
                url: url,  // URL to fetch data (update with your Django URL)
                dataSrc: 'data'  // Key in the JSON response containing the data
            },
            layout: {
                top2Start: toolbar
            },
            columnDefs: [{ width: '25%', targets: 0 }],
            columns: [
                { data: 'timestamp' },
                { data: 'ticker',
                    render: function(data, type) {
                        return `<img src="/static/assets/images/coin/${data}.png" alt="" class="img-fluid avatar mx-1"> ${data}/USDT`
                    }

                 },
                {
                    data: 'order_type',
                    
                    render: function (data, type) {
                        if (type === 'display') {
                            let color = 'green';
                            if (data === 'SELL') {
                                color = 'green';
                            }        
                            return `<span style="color:${color}">${data}</span>`;
                        }
        
                       return data; 
                    }
                    
                },
                { data: 'quantity' },
                { data: 'price' },
                { data: 'value' },
                // { data: 'content' },
                { data: 'content_type' },
                //{ data: 'object_id' },
                //{ data: 'event' },
                //{ data: 'exception_id' },
            ]

        })
    }



</script>
        
</body>
</html>