<div class="row g-3 mb-3 row-cols-1 row-cols-md-2 row-cols-lg-4">
    <div class="col">
        <div class="card">
            <div class="card-body d-flex align-items-center">
                <div class="flex-fill text-truncate">
                    <span class="text-muted small text-uppercase"><span></span></span>
                    <div class="d-flex flex-column">
                        <div class="price-block">
                            <span class="fs-6 fw-bold color-price-up">418</span>
                            <span class="small text-muted px-2">$418</span>
                        </div>
                        <div class="price-report">
                            <span class="small text-danger">- 1.28% <i
                                    class="fa fa-level-down"></i></span>
                            <span class="small text-muted px-2">Volume:109,267,865.92 BUSD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="apexspark0"></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body d-flex align-items-center">
                <div class="flex-fill text-truncate">
                    <span class="text-muted small text-uppercase">BNB/BUSD</span>
                    <div class="d-flex flex-column">
                        <div class="price-block">
                            <span class="fs-6 fw-bold color-price-up">418</span>
                            <span class="small text-muted px-2">$418</span>
                        </div>
                        <div class="price-report">
                            <span class="small text-danger">- 1.28% <i
                                    class="fa fa-level-down"></i></span>
                            <span class="small text-muted px-2">Volume:109,267,865.92 BUSD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="apexspark2"></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body d-flex align-items-center">
                <div class="flex-fill text-truncate">
                    <span class="text-muted small text-uppercase">BNB/BUSD</span>
                    <div class="d-flex flex-column">
                        <div class="price-block">
                            <span class="fs-6 fw-bold color-price-up">418</span>
                            <span class="small text-muted px-2">$418</span>
                        </div>
                        <div class="price-report">
                            <span class="small text-danger">- 1.28% <i
                                    class="fa fa-level-down"></i></span>
                            <span class="small text-muted px-2">Volume:109,267,865.92 BUSD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="apexspark3"></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body d-flex align-items-center">
                <div class="flex-fill text-truncate">
                    <span class="text-muted small text-uppercase">BNB/BUSD</span>
                    <div class="d-flex flex-column">
                        <div class="price-block">
                            <span class="fs-6 fw-bold color-price-up">418</span>
                            <span class="small text-muted px-2">$418</span>
                        </div>
                        <div class="price-report">
                            <span class="small text-danger">- 1.28% <i
                                    class="fa fa-level-down"></i></span>
                            <span class="small text-muted px-2">Volume:109,267,865.92 BUSD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="apexspark4"></div>
        </div>
    </div>
</div>
