
{% for crypto in cryptos %}
{% comment %} hx-on:htmx:before-request="getKlineChart('{{ crypto.ticker }}', {{ crypto.klines }});" {% endcomment %}
    <div class="col"  
    >
        <div class="card">
            <div class="card-body d-flex align-items-center">
                <div class="flex-fill text-truncate">
                    <span class="text-muted small text-uppercase">{{ crypto.ticker }}/USDT</span>
                    <div class="d-flex flex-column">
                        <div class="price-block">
                            <span class="fs-6 fw-bold color-price-up">{{ crypto.balance|floatformat:"8" }}</span>
                            <span class="small text-muted px-2">${{ crypto.usd_value|floatformat:"2" }}</span>
                        </div>
                        <div class="price-report">
                            <span class="small text-danger">- 1.28% <i
                                    class="fa fa-level-down"></i></span>
                            <span class="small text-muted px-2">Volume:109,267,865.92 BUSD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="{{ crypto.ticker }}"></div>
        </div>
    </div>
    {{ crypto.klines|json_script:"crypto_klines" }}
    <script>
        var current_crypto = '{{ crypto.ticker }}-klines';
        var current_crypto = JSON.parse(document.getElementById('crypto_klines').textContent);
        getKlineChart('{{ crypto.ticker }}', current_crypto);
    </script>
{% endfor %}
