<div class="row g-3 mb-3 row-deck">
    <div class="col-xl-12">
        <div class="card">
            <div
                class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom align-items-center flex-wrap"
                hx-ext="ws" ws-connect="/ws/total-usd/"
                >
                <h6 class="mb-0 fw-bold">Total USD Worth: 
                            <span id="total-usd" 
                            hx-get="/total-usd/" 
                            hx-trigger="load"
                            >0.00</span></h6>
                <ul class="nav nav-tabs tab-body-header rounded d-inline-flex mt-2 mt-md-0"
                    role="tablist">
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Activity"
                            role="tab"><i class="bi fs-3 bi-card-list"></i></a></li>
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
                            href="#cryptos-grid-views" role="tab">
                            <i class="bi fs-3 bi-grid"></i>
                        </a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="Activity">
                        {% include 'partials/tabs/cryptos/table.html' %}
                    </div>
                    <div class="tab-pane fade show active" id="cryptos-grid-views">
                    <div class="row g-3 mb-3 row-cols-1 row-cols-md-3 row-cols-lg-5"
                        id="cryptos-card"
                        hx-get="/cryptos/" 
                        hx-trigger="load" 
                        >
                        {% include 'partials/cryptos.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Row End -->