<div class="row g-3 mb-3 row-deck">
    <div class="col-xl-12">
        <div class="card">
            <div
                class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom align-items-center flex-wrap">
                <h6 class="mb-0 fw-bold">Login Activity</h6>
                <ul class="nav nav-tabs tab-body-header rounded d-inline-flex mt-2 mt-md-0"
                    role="tablist">
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Activity"
                            role="tab"><i class="bi fs-3 bi-card-list"></i></a></li>
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
                            href="#cryptos-grid-views" role="tab">
                            <i class="bi fs-3 bi-grid"></i>
                        </a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="Activity">
                        <ul class="list-unstyled list mb-0">
                            <li class="d-flex align-items-center py-2">
                                <div class="avatar rounded no-thumbnail chart-text-color1"><i
                                        class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="flex-fill ms-3">
                                    <div class="h6 mb-0">web</div>
                                    <small class="text-muted">Mumbai India</small>
                                </div>
                                <div class="flex-end">
                                    <span class="d-block text-end">122.170.109.22</span>
                                    <span class="text-muted d-block small">2021-09-30
                                        11:00:52</span>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-2">
                                <div class="avatar rounded no-thumbnail chart-text-color2"><i
                                        class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="flex-fill ms-3">
                                    <div class="h6 mb-0">web</div>
                                    <small class="text-muted">Mumbai India</small>
                                </div>
                                <div class="flex-end">
                                    <span class="d-block text-end">122.170.109.22</span>
                                    <span class="text-muted d-block small">2021-09-30
                                        11:00:20</span>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-2">
                                <div class="avatar rounded no-thumbnail chart-text-color3"><i
                                        class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="flex-fill ms-3">
                                    <div class="h6 mb-0">web</div>
                                    <small class="text-muted">Mumbai India</small>
                                </div>
                                <div class="flex-end">
                                    <span class="d-block text-end">122.170.109.21</span>
                                    <span class="text-muted d-block small">2021-09-29
                                        10:56:22</span>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-2">
                                <div class="avatar rounded no-thumbnail chart-text-color4"><i
                                        class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="flex-fill ms-3">
                                    <div class="h6 mb-0">web</div>
                                    <small class="text-muted">Pune India</small>
                                </div>
                                <div class="flex-end">
                                    <span class="d-block text-end">198.182.109.22</span>
                                    <span class="text-muted d-block small">2021-09-30
                                        12:50:52</span>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-2">
                                <div class="avatar rounded no-thumbnail chart-text-color2"><i
                                        class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="flex-fill ms-3">
                                    <div class="h6 mb-0">web</div>
                                    <small class="text-muted">Banglor India</small>
                                </div>
                                <div class="flex-end">
                                    <span class="d-block text-end">126.150.109.22</span>
                                    <span class="text-muted d-block small">2021-09-30
                                        10:00:20</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade show active" id="cryptos-grid-views">
                    <div class="row g-3 mb-3 row-cols-1 row-cols-md-3 row-cols-lg-5"
                        id="cryptos-card"
                        hx-get="/cryptos/" 
                        hx-trigger="load" 
                        >
                        {% include 'partials/cryptos.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Row End -->