{% load static %}

<table id="cryptos-table-1" class="hover row-border" style="width:100%">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Balance</th>
            <th>Pnl</th>
        </tr>
    </thead>
</table>

{% comment %} <div id="{{ crypto.ticker }}"></div> {% endcomment %}
 <script>
    document.addEventListener("DOMContentLoaded", (event) => {
        var cryptosTable;
        cryptosTable = renderCryptosTable('#cryptos-table-1', '/balances-data/');
            
            //getKlineChart('{{crypto.ticker}}', {{ crypto.klines|safe}});
            //renderCryptosTable('{{crypto.ticker}}', {{ crypto.klines|safe}});

    });
        var renderCryptosTable = function(elementId, url) {
        let toolbar = document.createElement('div');
            toolbar.innerHTML = '<h5 class="mb-0 fw-bold">Holding Cryptos</h5>';
        var table = new DataTable(elementId, {
            ajax: {
                url: url,  // URL to fetch data (update with your Django URL)
                dataSrc: 'data'  // Key in the JSON response containing the data
            },
            layout: {
                top2Start: toolbar
            },
            ordering: false,
            //order: [[0, 'desc']]
            columnDefs: [{ width: '25%', targets: 0 }],
            columns: [
                //{ data: 'timestamp' },
                { data: 'ticker',
                    render: function(data, type) {
                        return `<img src="/static/assets/images/coin/${data}.png" alt="" class="img-fluid avatar mx-1"> ${data}/USDT`
                    }

                },
                /*
                {
                    data: 'order_type',
                    
                    render: function (data, type) {
                        if (type === 'display') {
                            let color = 'green';
                            if (data === 'SELL') {
                                color = 'green';
                            }        
                            return `<span style="color:${color}">${data}</span>`;
                        }
        
                    return data; 
                    }
                    
                },
                */
                { data: 'balance' },
                { data: 'pnl' },
                // data: 'value' },
                // { data: 'content' },
                //{ data: 'content_type' },
                //{ data: 'object_id' },
                //{ data: 'event' },
                //{ data: 'exception_id' },
            ]

            })
        cryptosTable = table;
        return table;
        }
</script>