{% load static %}
<div class="row g-3 mb-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-3 align-items-center">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="d-flex">
                            <img class="avatar rounded-circle" src="{% static 'assets/images/profile_av.svg' %}"
                                alt="profile">
                            <div class="flex-fill ms-3">
                                <p class="mb-0"><span class="font-weight-bold">John Quinn</span></p>
                                <small class="">Johnquinn@gmail.com</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="d-flex flex-column">
                            <span class="text-muted mb-1">User ID:164647708</span>
                            <span class="small text-muted flex-fill text-truncate">Last login time
                                2021-09-29 10:56:22</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-2">
                        <div class="d-flex-inline">
                            <span class="badge bg-careys-pink mb-1">Personal</span>
                            <span class="small text-muted d-flex align-items-center"><i
                                    class="icofont-diamond px-1 fs-5 color-lightyellow "></i>
                                VIP</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <a href="referral.html" title="invite"
                            class="btn btn-primary text-dark mb-1">40% commission:Invite friends
                            now!</a>
                        <a href="#" title="invite" class="d-block"><i
                                class="icofont-twitter px-1 fs-6 color-lightblue"></i>not linked</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Row End -->