{% load static %}
<div class="row g-3 mb-3 row-deck" hx-on:htmx:load="">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header py-3 d-flex justify-content-between">
                <h6 class="mb-0 fw-bold">Recent Transactions</h6> 
            </div>
            <div class="card-body">
                <table id="orders-table-1" class="hover row-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Pair</th>
                            <th>Side</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Executed</th>
                            <th>Content Type</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div><!-- Row End -->


</div>
</div>